body{
  background-color:rgb(204, 204, 204);
}
#theform {
    background-color: rgb(239, 176, 255);
    display: grid;
    width: 260px;
    height: 300px;
    margin-left: 630px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
 border: solid white 3px;
background-color:rgb(230, 230, 230);
font-size: 50px;
text-align: center;
margin: 0px;
width: 400px;

}
p {
  border: solid white 3px;
  background-color:rgb(230, 230, 230);
  font-size: 30px;
  margin: 0px;
  text-align: center;
  width: 400px;
  height: 400px;

}

#journal {
  display: flex;
  justify-content: space-evenly;
align-items: center;
border: solid white 3px;
background-color:rgb(230, 230, 230);
font-size: 20px;

}
